*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.body1{
    background-color: black;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.header1{
    display: flex;
    justify-content: space-evenly;
    
    border-bottom: 2px solid white;
}

#titleH{
    font-size: 50px;
}

#aba{
    padding-left: 50px;
    padding-right: 50px;
}

a::hover{
    cursor: pointer;
    color: blue;
}

#bp{
    width: 30%;
    margin-top: 100px;
    position: relative;
    border-radius: 10px;
    left: 5%;
    animation: looptxt 10s infinite linear;
}


.inicio{
    display: flex; 
    align-items: center;
}


 #p-inicio{
    justify-content: space-between;
    display: flex;
    margin-left: 180px;
    font-size: 20px;

}

footer {
    text-align: center;
    margin-top: 50px;

}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a{
    color:#fff;
    text-decoration: none;
    
}    







#body2{
    background-color: black;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#header2{
    
    text-align:right;
    font-size: 50px;
    margin-right: 15vh;
   

}

.Tomorrow{
    display: flex;
    justify-content: space-between;
}

#bts-txt{
    width: 40%;
    margin-top: 50px;
    position: relative;
    border-radius: 100px;
    left: 5%;
    animation: looptxt 10s infinite linear;
}

@keyframes looptxt {
    0%{
       transform: rotate(0deg);
    }

    25%{
        transform: rotate(3deg);
    }

    50%{
        transform: rotate(0deg);
    }

    75%{
        transform: rotate(-3deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

.section-grupos{
    display: flex; 
    align-items: center;

}


 #p-grupos{
    justify-content: space-between;
    text-align: left;
    margin-left: 180px;
    margin: 60px;
    margin-top: 50px;
    font-size: 20px;

}




.body3{
    background-color: black;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#titleA{
    font-size: 75px;
    margin-left: 120px;
}


#p-albuns{
font-size: 25px;
padding-left: 70px;
}

#dejavu{
    width: 30%;
    position: relative;
    border-radius: 100px;
    left: 5%;
    animation: looptxt 10s infinite linear;
}

.album1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



/* telas */

@media screen and (max-width: 800px){

    #aba{
        padding-left: 20px;
        padding-right: 20px;
    }

    #titleH{
        font-size: 30px;
    }

}


@media screen and (max-width: 600px){

    #aba{
        padding-left: 5px;
        padding-right: 5px;
    }

    #titleH{
        font-size: 30px;
    }

    #bp{
        width: 70%;
        margin-top: 100px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 10px;
        left: 10px;
        border: 1px solid white;
        animation: looptxt 10s infinite linear;
    }

    .inicio{
        display: flexbox; 
        align-items: center;
        flex-direction: column;
    }

    #p-inicio{
        text-align: center;
        margin-left: 0;
        font-size: 20px;
    }
}

@media screen and (max-width: 300px){

    #aba{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    #titleH{
        font-size: 25px;
    }

    #bp{
        width: 90%;
        margin-top: 100px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 10px;
        left: 10px;
        border: 1px solid white;
        animation: looptxt 10s infinite linear;
    }

    .inicio{
        display: flexbox; 
        align-items: center;
        flex-direction: column;
    }

    #p-inicio{
        text-align: center;
        margin-left: 0;
        font-size: 13px;
    }
}

@media screen and (max-width: 200px){

    #aba{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }

    #titleH{
        font-size: 25px;
    }

    #bp{
        width: 90%;
        margin-top: 100px;
        margin-bottom: 20px;
        position: relative;
        border-radius: 10px;
        left: 10px;
        border: 1px solid white;
        animation: looptxt 10s infinite linear;
    }

    .inicio{
        display: flexbox; 
        align-items: center;
        flex-direction: column;
    }

    #p-inicio{
        text-align: center;
        margin-left: 0;
        font-size: 10px;
    }
}